.container {
  width: 90%;
  margin: 0 auto;
  background-color: cornflowerblue;
  background-attachment: fixed;
}
body {
  background-repeat: no-repeat;
  display: flex;
}
img {
  float: left;
  margin-right: 20px;
  width: 180px;
}
